.about{
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    background-color: #f9f9f9;
    padding-bottom: 100px;
}

.about.title{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.about-description{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-cta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #875397;
    padding: 10px 20px;
    border-radius: 5px;
    width: 650px;
    transition: background-color 0.3s ease;
}

.about-cta:hover{
    background-color: #732d80;
    text-decoration: none;
    color: white;
}