.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  margin-top: 100px;
}
.card {
  position: relative;
  border: 5px solid #520644;
  border-radius: 30px;
  padding: 20px 0;
  margin: 40px 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: #7b0a7b3a;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  box-shadow: #520644 10px 10px;
  width: 380px;
  height: 270px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.cards-image {
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
  z-index: 2;
  position: absolute;
  top: -25%;
  left: 32%;
}

.card-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  font-size: 27px;
  font-weight: bold;
  margin: 50px 0 10px;
  color: black;
  -webkit-text-stroke: 1px rgba(107, 9, 109, 0.425);
  line-height: 1;
}

.card-content {
  color: rgb(104, 92, 101);
  line-height: 1.2;
}

.card-item {
  font-size: 20px;
  margin: 8px 0;
  text-align: left;
}


/* --------------------------PANTALLAS---------------------- */

/* TABLETS */
@media (max-width: 1024px) {
  .card-title {
    font-size: 24px;
  }

  .card-content {
    font-size: 15px;
  }

  .cards-image {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    position: absolute;
    top: -20%;
    left: 38%;
  }
  .card {
    padding: 20px 0;
    margin: 25px 10px;
  }
}

/* CELULARES */
@media (max-width: 800px) {
  .card-content {
    font-size: 10px;
  }
  .card {
    padding: 20px 0;
    margin: 20px 10px;
  }
}
