.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 100px;
}
.card{
    position: relative;
    /* border: 1px solid #ddd; */
    border: 5px solid #520644;
    border-radius: 30px;
    padding: 20px;
    margin: 40px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    /* background-color: #7b0a7bb4; */
    background-color: #7b0a7b3a;
    transition: transform 0.2s, box-shadow 0.2s;
    /* box-shadow: #520644 10px 10px 20px -10px; */
    box-shadow: #520644 10px 10px;
    width: 400px;
    height: 300px;
    /* color: white; */
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.cards-image{
    width: 120px;
    height: 120px;
    /* object-fit: cover; */
    margin-bottom: 15px;
    /* border-radius: 50%; */
    /* border: 5px solid #68116b; */
    z-index: 2;
    position: absolute;
    top:-25%;
    left: 32%;
    /* background-color: #b77f7f; */
}

.card-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title{
    font-size: 27px;
    font-weight:bold;
    margin: 50px 0 10px;
    color:black;
-webkit-text-stroke: 1px rgba(107, 9, 109, 0.425);
}

.card-content{
    color: rgb(104, 92, 101);
}

.card-item{
    font-size: 20px;
    margin: 8px 0;
    text-align: left;
    
}