.ClassesInfo {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 50px 20px;
    background-color: #f5f5f5;
    margin: 0;
}

.ClassesInfo-schedule{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* padding: 50px 20px; */
    background-color: #f5f5f5;
    margin: 0;
}

.ClassesInfo-subtitle {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
  color: #6a3c3c;
}

.ClassesInfo-cta{
    font-size: 35px;
    color: #ffffff;
    background-color: #6a3c3c;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    grid-column: 1/3;
    width: fit-content;
    justify-self: center;
    animation: pulse 3s infinite ease-in-out;
    box-shadow: #333333 0px 10px 20px -10px;
}

.ClassesInfo-cta:hover{
    background-color: #7b4949;
    color: white;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    
}