.Classes {
  width: fit-content;
  padding: 50px 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Classes-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px;
  padding: 0;
  width: 80%;
}

.Classes-text-container {
  margin-left: 10px;
  border: 1px solid #520644;
 border-radius: 30px;
 background-color: #7b0a7b3a;
 color: black;
}

.Classes-title {
  font-size: 70px;
  font-weight: bold;
  margin: 0 auto 10px auto;
  color: #6a3c3c;
  text-align: center;
  
}

.Classes-subtitle {
  font-size: 50px;
  font-weight: bold;
  margin: 0; /* Cambiar de 30px auto 10px auto a 0 */
  padding: 15px 20px; /* Añadir padding interno */
  color: white;
  text-align: center;
  background-color: #520644f1;
  border-radius: 30px 30px 0 0; /* Redondear solo arriba */
}

.Classes-description-container {
     color: #333333;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  grid-row: 1/4;
  grid-column: 2/3;
  text-align: justify;
  width: 85%;
  padding-left: 40px; 
}

.Classes-name{
  font-weight: bold;
  font-size: 22px;
}

.Classes-benefits {
  font-weight: bold;
  color:#520644;
  font-size: 22px;
}

.Classes-description {
  font-size: 20px;
  text-align: center;
  /* color: #333; */
  color: black;
  margin-bottom: 20px;
  position: relative;
  grid-row: 1/4;
  grid-column: 2/3;
  text-align: justify;
  width: 85%;
  padding-left: 40px;
}

.Classes-cta {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #790097;
  margin-top: 10px;
  line-height: 1;
}

.Classes-whatsapp{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.Classes-whatsapp-icon{
  height: 50px;}

  .Classes-whatsapp-number{
    font-size: 30px;
    font-weight: bold;
    color:#251725a4;
  }