.FAQ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 130px;
  padding: 20px;
  background-color: #460f5b;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.FAQ-title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #d6cad6;
}

.FAQ-item {
  width: 90%;
  margin: 15px;
  padding: 10px 20px 20px;
  background-color: #7b0a7b3a;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
  color: white;
}

.FAQ-question {
  display: flex;
  flex-direction: row;
}

.FAQ-arrow {
  width: 30px;
  margin: 0;
}

.FAQ-subtitle {
  font-size: 24px;
  font-weight: bold;
  color: #e2d3e2;
  margin: 0 0 0 50px;
}

.FAQ-description {
  font-size: 21px;
  /* line-height: 1.5; */
  line-height: 0;
  color: #d6cad6;
  margin: 0;
  visibility: hidden;
}

.FAQ-description-visible{
    visibility: visible;
    line-height: 1.5;
}