.FAQ{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 130px;
    padding: 20px;
    background-color: #460f5b;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.FAQ-title{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #d6cad6;
}

.FAQ-item{
    width: 90%;
    margin: 15px;
    padding: 10px 20px 20px;
    background-color: #7b0a7b3a;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    align-items: center;
color: white;
}

.FAQ-arrow{
    width: 30px;
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    margin: 0;
}

.FAQ-subtitle{
    font-size: 24px;
    font-weight: bold;
    color: #e2d3e2;
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    margin: 0 0 0 50px;
    
}

.FAQ-description{
    font-size: 21px;
    line-height: 1.5;
    color: #d6cad6;
    grid-row: 2 / 2;
    grid-column: 1 / 3;
    margin: 0;
    }   



