.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: rgb(111, 0, 145);
  padding: 25px;
  margin: 0;
  /* position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3; */
}

.Footer-social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.Footer-social:hover{
  cursor: pointer;
}

.Footer-social-image{
  width: 20px;
  height: 20px;
}

.Footer-social-item {
  color: rgba(255, 255, 255, 0.715);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  justify-content: flex-end;
}

