.Footer {
  background-color: rgb(111, 0, 145);
  padding: 15px;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 10px; */
  z-index: 3;
}

.Footer-item {
  color: rgba(255, 255, 255, 0.715);
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
  justify-content: flex-end;
}
