.Group {
  font-weight: bold;
  margin: auto;
  padding: 40px;
}

.Group-subtitle {
  font-size: 70px;
  font-weight: bold;
  margin: 0;
  color: #6a3c3c;
}

.Group-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0;
  gap: 40px;
  margin-bottom: 80px;
}

.Group-description {
  font-size: 22px;
  font-weight: normal;
  color: #333333;
  text-align: justify;
  width: 90%;
  margin: 0 auto;
  line-height: 1.1;
  margin-right: 40px;
}

.Prices-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  margin-top: 30px;
}
