.Group {
  font-weight: bold;
  margin: auto;
  padding: 40px;
}

.Group-subtitle {
  font-size: 70px;
  font-weight: bold;
  margin: 0;
  color: #6a3c3c;
  padding-bottom: 20px;
}

.Group-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  gap: 40px;
  margin-bottom: 50px;
}

.Group-description {
  font-size: 22px;
  font-weight: normal;
  color: #333333;
  text-align: justify;
  width: 90%;
  margin: 0 auto;
  line-height: 1.1;
  margin-right: 40px;
}

.Prices-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.Group-benefits{
  font-size: 22px;
  color: #6a3c3c;
  margin-top: 20px;
  font-weight: bold;
}

.Group-benefits-list{
  margin-top: 10px;
  line-height: 1.3;
  font-size: 20px;
}