.header {
  background-color: rgb(111, 0, 145);
  padding: 10px 50px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width:1400px;
  z-index: 4;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.headernav-logo {
  display: flex;
  align-items: center;
}

.headernav-logo-photo {
  height: 40px;
}

.headernav-logo-name {
  color: rgba(255, 255, 255, 0.715);
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 10px;
  transition: color 0.3s ease;
}

.headernav-logo-name:hover {
  color: rgb(165, 66, 66);
  cursor: pointer;
}

.headernav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.headernav-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  font-size: 20px;
}

.headernav-item {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 10px;
  font-weight: bold;
  font-size: larger;
  align-items: center;
  transition: all 0.3s ease;
}

.headernav-item:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.1);
  text-decoration: underline;
}

.header__access {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.header__access:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.header__access-login {
  background-color: transparent;
  color: rgb(111, 0, 145);
  border: none;
  font-weight: bold;
  font-size: 20px;
  padding: 0 0 0 10px;
}

.header__access-login:hover {
  cursor: pointer;
}

.header__access-icon {
  width: 30px;
  height: 30px;
}

.header__access-signup {
  visibility: hidden;
  width: 0;
  height: 0;
  padding: 0;
}

.header__access-signup-visible {
  visibility: visible;
  background-color: transparent;
  color: rgb(111, 0, 145);
  border: none;
  font-weight: bold;
  font-size: 20px;
}
