.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/public/heels-photo.jpg) no-repeat center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.6) 30%
  );
  z-index: 1;
}

.hero-title{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    margin: 0;
    z-index: 3;
    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);

    display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid transparent; /* cursor invisible al final */
  width: 22ch;
  animation: typing 1.5s steps(22, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 10ch;
  }
}

.hero-description{
    position: relative;
    color: rgba(255, 255, 255, 0.87);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    z-index: 2;
}

.hero-arrows{
    position: relative;
    width: 50px;
    margin-top: 40px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: moveDown 1.5s infinite ease-in-out;
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}




/* 
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/public/heels-photo.jpg) no-repeat center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(195, 0, 255, 0.3) 100%
  );
  z-index: 1;
}

.hero-title{
    position: relative;
    color: rgba(255, 255, 255, 0.95);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);}.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/public/heels-photo.jpg) no-repeat center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(195, 0, 255, 0.3) 100%
  );
  z-index: 1;
}

.hero-title{
    position: relative;
    color: rgba(255, 255, 255, 0.95);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.7); */