.HorariosPrecios {
    /* display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-content: space-evenly; */
    width: 100%;
    padding: 55px 0;
    background-color: #f5f5f5;
    margin: 0;
    gap: 30px ;
}

.HorariosPrecios-title {
    font-size: 50px;
    font-weight: bold;
    margin: auto;
    color: #6a3c3c;
    text-align: center;
}

.HorariosPrecios-description{
    font-size: 22px;
    color: #333333;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    line-height: 1.6;
}

.HorariosPrecios-group-description{
    font-size: 18px;
    color: #333333;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    line-height: 1.3;
    text-align: justify;
}

.HorariosPrecios-schedule{
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    width: 600px;
    background-color: #f5f5f5;
    margin: 0;
}

.HorariosPrecios-subtitle {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
  color: #6a3c3c;
}

.HorariosPrecios-cta{
    font-size: 35px;
    color: #ffffff;
    background-color: #6a3c3c;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    /* grid-column: 1/3; */
    width: fit-content;
    justify-self: center;
    animation: pulse 3s infinite ease-in-out;
    box-shadow: #333333 0px 10px 20px -10px;
    text-decoration: none;  
}

.HorariosPrecios-cta:hover{
    background-color: #7b4949;
    color: white;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    text-decoration: none;   
}

.HorariosPrecios-privateclasses{
    /* grid-column: 1/3;
    grid-row: 3/4; */
    width: 600px;
    margin-top: 40px;
    justify-self: center;
}