.Prices {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #520644;
  border-top: transparent;
  border-radius: 20px;
  padding: 0 30px 30px;
  width: 200px;
  margin: auto;
  background-color: #7b0a7b3a;
  box-shadow: #333333 0px 10px 20px -10px;
}

.Prices-package-container {
  background-color: #520644 ;
  border-radius: 18px 18px 0 0;
  padding: 10px 0;
  margin: -30px -31px 10px -31px;
}

.Prices-package {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  color: white;
  text-align: center;
}

.Prices-value {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  color: #333333;
  text-align: center;
}

.Prices-description {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  color: #555555;
  text-align: center;
}

.Prices-cta {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  color: #dcd4de;
  margin-top: 10px;
  line-height: 1;
  text-decoration: none;
  background-color: rgba(111, 0, 145, 0.653);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
}

.Prices-cta:hover {
  background-color: #520644;
  color: white;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}