.schedule-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  border-radius: 30px;
  margin-right: 20px;
  background-color: rgba(250, 235, 215, 0.185);
  padding: 30px;
}

.schedule-subtitle {
  font-size: 35px;
  font-weight: bold;
  padding:0 50px;
  margin: 0;
  color: rgba(255, 255, 255, 0.781);
  grid-column: 1/4;
  background-color: #520644af;
  border-radius: 20px;
}

.schedule-class {
  font-size: 25px;
  color: #6a3c3c;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  grid-column: 1/1;
}

.schedule-classname {
  font-size: 25px;
  color: #000000;
  grid-column: 1/1;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

.schedule-info {
  font-size: 25px;
  color: #6a3c3c;
  font-weight: bold;
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

.schedule-time {
  font-size: 25px;
  font-weight: normal;
  color: #000;
  grid-column: 2/3;
  text-align: center;
  margin: 0;
}

.schedule-level{
    font-size: 25px;
    color: #6a3c3c;
    font-weight: bold;
    grid-column: 3/3;
  grid-row: 2/3;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.schedule-leveltype {
  font-size: 25px;
  font-weight: normal;
  color: #000;
  grid-column: 3/3;
  text-align: center;
  margin: 0;
}

.schedule-divider1 {
  border: 1px solid #1a0a0a;
  width: 100%;
  grid-column: 1/4;
  grid-row: 3/5;
}
