.video-container {
padding:0 20px;
}

.video {
width: 500px;
height: 300px;
}

@media (max-width: 1200px) {

.video {
width: 400px;
height: 250px;
}
}

@media (max-width: 900px) {

.video {
width: 300px;
height: 150px;
}
}