body {
font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(104, 92, 101, 0.546);
  background-color: #9e689682;
  margin: 0;
  padding:0;
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  
}

@media (min-width: 1920px) {
  body {
    max-width: 1400px;
  }
}